/* Main CSS */
@font-face {
  font-family: 'BTBrik';
  src: url('./BTBrikRegular.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar CSS */
.navbar {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid cyan;
}

/* Landing CSS */
.landing {
  background: url('./images/landing.png') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.landing .landing-inner {
  margin-top: 150px;
}

.landing-inner .landing-logo {
  height: 250px;
  width: 250px;
}

.landing-inner .card {
  background: transparent;
}

.landing-inner .title {
  font-family: 'btbrik';
  font-size: 9rem;
  color: #ececec;
  text-shadow: 0px 0px 1px white;
}

.landing-inner .title-letter {
  font-weight: 700;
  display: inline-block;
  transform-origin: 0 0;
}

/* Layout CSS */

/* Landing */
