/*
* ==========================================================
* General Styling
* ==========================================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/*
*
* Alerts
*
*/
.alert-primary {
  color: #cfe2ff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.alert-secondary {
  color: #e2e3e5;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.alert-success {
  color: #d1e7dd;
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.alert-danger {
  color: #f8d7da;
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.alert-warning {
  color: #664d03;
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}

.alert-info {
  color: #cff4fc;
  background-color: var(--color-info);
  border-color: var(--color-info);
}

.alert-light {
  color: #636464;
  background-color: var(--color-light);
  border-color: var(--color-light);
}

.alert-dark {
  color: #d3d3d4;
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

/*
* ==========================================================
* Navbar
* ==========================================================
*/
nav.navbar .right-menu {
  font-size: 1.25rem;
}

nav.navbar .dropdown-menu {
  min-width: 400px;
  max-width: 450px;
}
nav.navbar .dropdown-menu#languagesCollapse {
  min-width: 150px;
}

nav.navbar .messages-block {
  max-height: 425px;
  overflow-y: auto;
}

nav.navbar .message,
nav.navbar .messages-header {
  padding: 1rem !important;
  border-bottom: 1px solid #393c43;
  width: 100%;
}

nav.navbar .message:hover {
  background: #282b2f;
}

nav.navbar .message:last-of-type {
  border-bottom: none;
}
nav.navbar .message {
  color: #8a8d93;
  text-decoration: none;
}

nav.navbar .message li:last-of-type a {
  border-bottom: none;
}

nav.navbar .message .content strong {
  font-size: 1rem;
}

nav.navbar .message .content span {
  font-weight: 300;
  font-size: 0.85rem;
}

nav.navbar .message .content .date {
  color: #70737a;
}

/*
* ==========================================================
* Forms
* ==========================================================
*/
.form-floating > .form-control:focus ~ label.label-material,
.form-floating > .form-control:not(:placeholder-shown) ~ label.label-material {
  opacity: 1;
  color: #379392;
}
.form-check.form-switch {
  margin-bottom: 0.5rem;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}
.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/*
*
* UTILLS
*
*/
.message span.text-truncate,
.ticket span.text-truncate {
  max-width: 60vw;
}

/*
*
* Default bootstrap theme
*
*/
a:focus,
a:hover {
  text-decoration: none;
}

/* Sidebar */
nav#sidebar a::before {
  content: '';
  width: 2px;
  height: 100%;
  background: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

nav#sidebar a.active::before {
  background: #2db4b2;
}

nav#sidebar a.active {
  background: #34373d;
  color: #bfc1c4;
}

nav#sidebar a.active i {
  color: #379392;
}

nav#sidebar li li a {
  padding-left: 35px;
}

nav#sidebar li li a.active {
  background: #292c32;
}

/* 
*
* Messages Section 
*
*/
.messages-block .message {
  position: relative;
}
.messages-block .message > .content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 1px;

  width: 3px;
  height: 100%;
}

.messages-block .content.mark-unRead:before {
  background: var(--color-danger);
}

/*
*
* Tickets Section
*
*/
.ticket .ticket-status {
  font-size: 1.25rem !important;
  color: #a5a7ab !important;
  font-weight: inherit !important;
}
.ticket .ticket-status {
  margin-right: 0.25rem;
  color: var(--color-success) !important;
}

.ticket .ticket-status.closed {
  color: var(--color-danger) !important;
}
.ticket .ticket-content {
  box-shadow: 0 0 10px 5px var(--color-dark);
  padding: 1.25rem;
}

section .messages-block a.message,
section .tickets-block a.ticket {
  border-radius: 5px;
  box-shadow: 0px 3px 5px var(--color-dark);
  margin-bottom: 0.5rem;
}

/*
******************
*/

/* .form-check .form-check-radio {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
} */
